.text-section {
  width: 100%;
  position: relative;
  height: 200vh;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
}

.wrapper p {
  font-size: 3em;
  white-space: pre-wrap;
  text-align: center;
}

.char {
  display: inline-block;
}