.scroll-icons-container {
    width: 120%;
    overflow: hidden;
    display: flex;
    padding-block: 20px;

    .icon-container{
        flex: 1 1;
        display: flex;
        justify-content: center;
        .icon{
            height: 10vh;
            
        }
    }
    
}

