.Menu {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    border-radius: 30px;
    padding-inline: 30px;
    padding-block: 10px;
    overflow: hidden;
    background-color: #111; /* Assure une couleur de fond sous le dégradé */
    z-index: 3;

    .icon-menu {
        background-color: whitesmoke;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        height: 30px;
        width: 30px;
        z-index: 1; /* Assure que les icônes restent au-dessus */
        transition:
        transform 400ms ease,
        margin-inline 400ms ease;
    }

    .icon-menu:hover{
        transform: scale(1.2);
        margin-inline: 7px;
    }
}

.Menu::before {
    content: "";
    position: absolute;
    top: -300%;
    left: -30%;
    width: 400px;
    height: 400px;
    background: linear-gradient(0, #000, #333);
    z-index: -1;
    border-radius: 999px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


