.Hook{
    position: relative;
    display: flex;
    height: 100vh;
    background-color: #000;
    color: #EEE;
    flex-wrap: wrap;
    margin-inline: 40px;

    .animation-gif{
        position: absolute;
        top: 10%;
        left: 50%;
        width: 50%;
        transform: translate(-50%);
        max-width: 800px;
        min-width: 400px;
    }

    .title-container{
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        width: max-content;

        .title{
            font-family: "JetBrains Mono", monospace;
            font-size: 8em;
            font-weight: 800;
            z-index: 1;
            line-height: 100%;
            letter-spacing: -10px;
            word-break: keep-all;
            line-break: strict;
            opacity: 0.5;
            
        }
    }

    .description-container{
        display: flex;
        z-index: 2;
        justify-content: flex-start;
        align-items: center;
        height: 50%;
        flex: 1;
        align-self: self-end;

        .description{
            font-weight: 400;
            line-height: 1.1;
            font-size: 40px;
            font-family: "Poppins", serif;
            max-width: 80%;
            white-space: normal;
            color: #FFF;
            display: flex;
            flex-direction: column;
            gap: 20px;         

            .buttons{
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                font-size: 22px;

                .button-contact{
                    background-color: #EEE;
                    color: #000;
                    padding-inline: 20px;
                    padding-block: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                }

                .button-contact:hover{
                    opacity: 0.8;
                }
        
                .button-projects{
                    background-color: #222;
                    color: #EEE;
                    padding-inline: 20px;
                    padding-block: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                }

                .button-projects:hover{
                    opacity: 0.8;
                }
            }
        }  
    }
}