.Hook{
    position: relative;
    display: flex;
    min-height: 100vh;
    background-color: #000;
    color: #EEE;
    flex-wrap: wrap;


    .container-slideIn{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .animation-gif{
        position: absolute;
        top: 10%;
        left: 50%;
        width: 50%;
        transform: translate(-50%);
        max-width: 800px;
        min-width: 400px;
    }

    .title-container{
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        width: max-content;

        .title{
            font-family: "JetBrains Mono", monospace;
            font-size: 9vw;
            font-weight: 800;
            z-index: 1;
            line-height: 100%;
            letter-spacing: -8px;
            word-break: keep-all;
            line-break: strict;
            opacity: 0.7;
            
        }
    }

    .description-container{
        display: flex;
        z-index: 2;
        justify-content: flex-start;
        align-items: center;
        height: 50%;
        flex: 1;
        align-self: self-end;
        box-sizing: border-box;
        margin: 50px;

        .description{
            font-weight: 400;
            line-height: 1.1;
            font-size: 2vw;
            font-family: "Poppins", serif;
            max-width: 80%;
            white-space: normal;
            color: #FFF;
            display: flex;
            flex-direction: column;

            .buttons{
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                font-size: 22px;
                margin-top: 20px;

                .button-contact{
                    background-color: #EEE;
                    color: #000;
                    padding-inline: 20px;
                    padding-block: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                }

                .button-contact:hover{
                    opacity: 0.8;
                }
        
                .button-projects{
                    background-color: #222;
                    color: #EEE;
                    padding-inline: 20px;
                    padding-block: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                }

                .button-projects:hover{
                    opacity: 0.8;
                }
            }
        }  
    }
}

@media (max-width: 800px) {
    .Hook{     
        min-height: 100vh;
        .container-slideIn{
        }

        .animation-gif{
        }

        .title-container{

            .title{
                font-size: 12vw;
            }
        }

        .description-container{
            margin: 30px;
            .description{
                font-size: 8vw;
                max-width: 90%;
                .buttons{

                    .button-contact{
                    }
            
                    .button-projects{
                    }
                }
            }  
        }
    }
}