.presentation{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #EEE;
    flex: 0 0 100vw;
    color: #EEE;

    .image{
        height: 100%;
        box-shadow: inset 50px 0 50px -25px rgba(0, 0, 0, 0.3); /* Shadow on the left side */
    }

    .image-container {
        position: relative;
        display: inline-block;
      }
      
      
      .image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, transparent);
        pointer-events: none;
        z-index: 1;
      }

      .image-container::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(to left, #EEE 10%, transparent);
        pointer-events: none;
        z-index: 1;
      }

    .histoire-container{
        margin: 30px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;

        .histoire{
            max-width: 50%;
            color: #444;
            font-size: 28px;
            white-space: normal;
            line-break: strict;
        } 
    }
      

  
}

@media (max-width: 800px) {
    .presentation{
        .container-text{
    
            .title{}

            .text{
                width: 80%;
            }
        }
    }
}