.Experiences {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .container-choices {
      position: relative;
      display: flex;
      gap: 30px;
      color: #555;
      font-weight: 600;
      font-size: 20px;
      margin-block: 80px;

      .choice-pro,
      .choice-aca {
          cursor: pointer;
          padding-block: 5px;
      }

      .active {
          color: #FFF;
      }

      /* Barre animée */
      .underline {
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 120px; /* Ajuste selon la taille du texte */
          height: 2px;
          background-color: #555;
          transition: transform 0.3s ease-in-out;
      }

      .left {
          transform: translateX(0);
      }

      .right {
          transform: translateX(135px); /* Ajuste selon l'espacement */
      }
  }

  .background {
      position: relative;

      .background-aca, .background-exp{
        left: 0;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
      }
  }

  .card {
      width: 100%;
  }
}



@media (max-width: 800px) {
  .Experiences{
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
  }
}