.Experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    height: 100%;

    .title{
        font-size: 30px;
    }

    .date{

    }

    .description{

    }

    .skills{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .skill{
            border: solid 1px #FFF;
            border-radius: 10px;
            padding: 5px;
        }
    }
}