.Experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    .container-top{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title{
            font-size: 30px;
            margin: 0;
        }
    
        .date{
            color: #AAA;
        }
    }
   

    .description{
        white-space: pre-line;
    }

    .skills{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        opacity: 0.8;

        .skill{
            border: solid 1px #FFF;
            border-radius: 30px;
            padding: 5px;
            font-size: 15px;
            padding-inline: 15px;
        }
    }
}