body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary:#18534F;
  --color-secondary:#226D68;
  --color-neutral:#ECF8F6;
  --color-contrast:#FEEAA1;
  --scrollbar-width:15px;
  /*font-family: "JetBrains Mono", monospace;*/
  font-family: Suisse, sans-serif;
  font-weight: 400;
  font-size: 16px;
  scrollbar-width: var(--scrollbar-width);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.text-action{
  color: var(--color-secondary);
  cursor: pointer;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: unset;
}

.title{
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
}